.ships-container {
  width: 410px;
  height: 210px;
  border: 3px solid black;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.carrier,
.battleship,
.destroyer,
.submarine,
.patrol-boat {
  max-width: 100px;
  max-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Adjusting ship sizes */
.carrier {
  width: 100px;
  height: 20px;
  background-color: black;
}

.battleship {
  width: 80px;
  height: 20px;
  background-color: blue;
}

.destroyer {
  width: 60px;
  height: 20px;
  background-color: brown;
}

.submarine {
  width: 60px;
  height: 20px;
  background-color: purple;
}

.patrol-boat {
  width: 40px;
  height: 20px;
  background-color: yellowgreen;
}

.game-information {
  display: flex;
}

.info-container {
  padding-left: 50px;
}

/* Adjusting board sizes */
#board-container {
  display: flex;
  justify-content: space-between;
  width: 35rem;
}

.game-board {
  display: flex;
  flex-wrap: wrap;
  width: 210px;
  height: 210px;
  border: 5px solid grey;
}
/* Adjusting block size */
.block {
  width: 20px;
  height: 20px;
  border-top: 1px solid black;
  border-right: 1px solid black;
}

/* #computer .carrier,
#computer .battleship,
#computer .destroyer,
#computer .submarine,
#computer .patrol-boat {
  background-color: bisque;
} */

button {
  margin: 5px 0 5px 0;
}

/* Specify styles for hit and empty blocks */
.hit {
  background-color: red !important;
}

.empty {
  background-color: grey !important;
}
