.ships-container {
  width: 550px;
  height: 120px;
  border: 3px solid black;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.ship-1 {
  width: 100px;
  height: 20px;
  background-color: black;
}

.ship-2 {
  width: 80px;
  height: 20px;
  background-color: blue;
}

.ship-3 {
  width: 60px;
  height: 20px;
  background-color: brown;
}

.ship-4 {
  width: 60px;
  height: 20px;
  background-color: purple;
}

.ship-5 {
  width: 40px;
  height: 20px;
  background-color: yellowgreen;
}

.game-information {
  display: flex;
}

.info-container {
  padding-left: 50px;
}

#board-container {
  display: flex;
  justify-content: space-between;
  width: 35rem;
}

.game-board {
  display: flex;
  flex-wrap: wrap;
  width: 200px;
  height: 200px;
  border: 1px solid grey;
}

.block {
  width: 20px;
  height: 20px;
  /* border: dashed 0.1px grey;
  box-sizing: border-box; */
}

button {
  margin: 5px 0 5px 0;
}

#computer .ship-1,
#computer .ship-2,
#computer .ship-3,
#computer .ship-4,
#computer .ship-5 {
  background-color: bisque;
}

.hit {
  background-color: red !important;
}

.empty {
  background-color: grey !important;
}
