.component-20 {
  width: 700px;
  height: 700px;
  padding: 50px;
  background: linear-gradient(
    126deg,
    rgba(141, 134, 187, 0.82) 14.2%,
    rgba(184, 182, 244, 0.77) 85.8%
  );
  box-shadow: 0px 0px 43.898px #847cab, 0px 0px 25.085px #847cab;
  border-radius: 30px;
  border: 10px;
}

.btn-join {
  width: 214px;
  font-size: 24px;
  background-color: red;
}

.btn-return {
  width: 230px;
  font-size: 24px;
}
