.background-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 0;
}

.background-image {
  background: url(/public/img/battleship-bg.jpg) center/cover no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -2;
}

.gradient-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(91, 70, 149, 0.464) 32.6%,
    rgba(20, 16, 37, 0.477) 100%
  );
  backdrop-filter: blur(20px);
  z-index: -1;
}

.battleship-text {
  text-transform: uppercase;
  font-size: 6rem;
  font-weight: 200;
  letter-spacing: 0.3em;
  text-shadow: 0 0 10px rgb(255, 255, 255);
}

.main-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: url(/public/img/main-bg.jpg) center/cover no-repeat;
  z-index: -1;
}

.custom-btn {
  margin: 50px auto;
  width: 400px;
  text-align: center;
  position: relative;
  line-height: 50px;
  color: white;
  text-decoration: none;
  border-radius: 20px;
  box-sizing: border-box;
  display: block;
  z-index: 2;
  overflow: hidden;
  padding: 4px;
  height: 100px;
  box-shadow: 1px 1px 5px #8782bc;
}

.custom-btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 100%;
  background: linear-gradient(115deg, #c3b8f5, #584d86);
  background-size: 50% 100%;
}
.custom-btn span {
  position: relative;
  z-index: 2;
  padding: 0.875rem 0;
  font-size: 1.1rem;
  text-decoration: none;
  align-items: center;
  border-radius: 20px;
  background-color: #736a99;
  display: block;
  justify-content: center;
  box-sizing: border-box;
  height: 100%;
  font-size: 50px;
  font-family: "Lato";
}
.custom-btn:focus:before,
.custom-btn:hover:before {
  animation: custom-btn 0.75s linear infinite;
}

@keyframes custom-btn {
  to {
    transform: translateX(-50%);
  }
}
